* {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff8f3;
  background-image: url("./images/developer.png");
  background-repeat: no-repeat;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menus {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  margin-right: 50px;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  font-size: 18px;
  border-radius: 5px;
  background: #fd6e0a;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 6px 20px;
}

.banner-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("./images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-left: 150px;
}

.banner-pic {
  width: 584px;
  height: 676px;
}

.banner-description {
  max-width: 585px;
  color: #757575;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.banner-title {
  color: #181818;
  font-size: 70px;
  font-weight: 700;
}

.banner-intro {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}

.banner-left {
  max-width: 600px;
}

.banner-left .banner-pic {
  max-width: 400px;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

.about-section {
  padding: 70px 100px;
  margin: 100px;
  border-radius: 10px;
  background-color: #fff8f3;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
}

.section-description {
  color: #757575;
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.section-profile {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-profile p {
  text-align: center;
  color: #757575;
}

.skill-description {
  color: #757575;
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.skill-section {
  padding: 70px 100px;
  margin: 20px 100px;
  border-radius: 10px;
}

.skill-box {
  margin: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.skill {
  width: 267px;
  height: 280px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 33px;
}

.skill-title {
  padding: 20px 0;
  color: #181818;
  font-size: 20px;
  font-weight: 700;
}

.skill-details {
  color: #757575;
  width: 201px;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
}

.skill-heading {
  color: #474747;
  font-size: 28px;
  font-weight: 700;
}

.edu-details {
  margin: 20px 0;
}

hr {
  width: 40%;
  margin: 20px 0;
}

.edu-description {
  margin: 10px 0;
  width: 511px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}

.experience-education {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.download {
  display: block;
  margin: 30px auto;
}

footer {
  padding: 0;
  height: 650px;
  background-color: #fff8f3;
}

.footer-title {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}

.footer-description {
  width: 562px;
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 30px 0;
}

footer img {
  padding: 0 10px;
}

label {
  display: block;
}

.footer-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input {
  width: 450px;
  height: 60px;
  border: none;
  margin: 10px 0;
  text-indent: 25px;
}

textarea {
  border: none;
  text-indent: 25px;
  margin-top: 10px;
}

.form-container {
  margin-right: 300px;
  margin-top: 150px;
}

form > .submit {
  margin-top: 15px;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .about-section {
    padding: 20px;
    margin: 30px 20px;
  }
  .section-profile {
    flex-direction: column;
    margin: 30px;
  }
  .skill-box {
    flex-direction: column;
    margin: 20px auto;
  }
  .skill{
    padding: 20px;
  }

  .skill-section {
    padding: 20px;
    margin: 10px;
  }

  .experience-education {
   flex-direction: column;
  }

  .education{
    margin: 20px 0;
  }

  .edu-details{
    margin: 20px;
  }

  .edu-description{
    width: 100%;
  }

  .skill-heading{
    margin-left: 20px;
  }

  .footer-section{
    flex-direction: column;
    width: 100%;
    margin: 50px 10px;
    padding: 20px 0;
  }

  .footer-description{
    width: 100%;
    padding: 0 5px;
  }

  .footer-column{
    width: 100%;
  }

  .form-container{
    margin: 20px auto;
  }

  nav{
    flex-direction: column;
  }

  .banner-section{
    flex-direction: column;
    margin: 10px 100px;
    background-image: none;
  }

  .banner-description{
    width: 100%;
  }

  .banner-pic{
    height: 400px;
    width: 350px;
    text-align: center;
  }

  .btn-primary {
    font-size: 18px;
    border-radius: 5px;
    border-radius: 3px;
    margin-top: 5px;
}
}